.tasksList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.tasksList__item {
	text-decoration: none;
	border-bottom: 1px solid rgb(236, 236, 236);
	padding: 10px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	grid-gap: 10px;
}

.tasksList__item--hidden {
	display: none;
}

.tasksList__itemContent {
	text-decoration: none;
	margin: 5px;
}

.tasksList__itemContent--done {
	text-decoration: line-through;
}

.tasksList__button {
	color: #fff;
	border: none;
	width: 28px;
	height: 28px;
	transition: 0.5s;
}

.tasksList__button--toggleDone {
	background-color: hsl(120, 100%, 25%);
}

.tasksList__button--toggleDone:hover {
	background-color: hsl(120, 100%, 30%);
}

.tasksList__button--toggleDone:active {
	background-color: hsl(120, 100%, 35%);
}

.tasksList__button--remove {
	color: #fff;
	background-color: red;
	border: none;
	justify-self: end;
}

.tasksList__button--remove:hover {
	background-color: hsl(0, 100%, 65%);
}

.tasksList__button--remove:active {
	background-color: hsl(0, 100%, 75%);
}

.tasksList__removeIcon {
	width: 14px;
	height: 14px;
}